<div class="d-flex align-items-start upsell-point">
  <img loading="lazy" alt="{{ title }}" src="{{ icon | img_url: '135x' }}" />
  <div class="ml-2">
    <p class="my-0 gkit-p-17 gkit-bold">{{ title }}</p>
    <p class="mt-1 mb-0 gkit-p-15 gkit-light">{{ body }}</p>
  </div>
</div>