<div class="gift-message-block px-3 py-2 mt-3 ml-5 d-flex align-items-center">
    <img loading="lazy" alt="Refillable Grind Tin" src="{{ 'grind-tin.svg' | asset_url }}" />
    <div class="ml-3">
        <p class="gkit-p-15 gkit-bold mb-0">Free Grind Tin</p>
        <p class="gkit-p-13 my-0">All subscriptions include a free refillable pink tin.</p>
    </div>
</div>