<div class="gkit-checkbox">
    <input type="checkbox">
    {% if label %}
        <div class="state">
            <label class="gkit-p-17 gkit-light">{{label}}</label>
        </div>
    {% endif %}
</div>