<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=7968620f-c6ec-4318-9854-06cc77d28cd3">Creative Production</a></h2>
        <p class="mb-0">Grind HQ</p>
        <p class="mb-3">Competitive</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=7968620f-c6ec-4318-9854-06cc77d28cd3" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=6b558f0d-6704-4bfc-bcfc-8cca75d372bd">General Manager</a></h2>
        <p class="mb-0">New Projects</p>
        <p class="mb-3">£35,000 - £45,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=6b558f0d-6704-4bfc-bcfc-8cca75d372bd" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=7fe1baad-2e95-4b3f-bc54-335fe38915e0">Opening Training Manager</a></h2>
        <p class="mb-0">New Projects</p>
        <p class="mb-3">£29,000 - £36,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=7fe1baad-2e95-4b3f-bc54-335fe38915e0" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
      <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=fd17cc07-a739-43dd-9691-4298340a83c5">Barista</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">Up to £10ph</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=fd17cc07-a739-43dd-9691-4298340a83c5" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=f40f969d-fdef-46ec-ad65-377164c7dc9f">Bartender</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">Up to £10ph</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=f40f969d-fdef-46ec-ad65-377164c7dc9f" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=98426f34-b234-42bb-8a85-b174405685be">Management Roles</a></h2>
        <p class="mb-0">New Projects</p>
        <p class="mb-3">£28,000 - £35,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=98426f34-b234-42bb-8a85-b174405685be" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=ec5ebfdc-ef91-4630-8a87-29ec3d24c33c">Waiting Staff</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">Up to £11ph</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=ec5ebfdc-ef91-4630-8a87-29ec3d24c33c" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=37a4adc5-ea37-489d-a553-0f9b5ff07ebf">Head Chef</a></h2>
        <p class="mb-0">Covent Garden Grind</p>
        <p class="mb-3">Up to £35,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=37a4adc5-ea37-489d-a553-0f9b5ff07ebf" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=55be8b05-a0c4-4ce3-a0ca-93ccb185250f">Chef De Partie</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">Up to £10ph</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=55be8b05-a0c4-4ce3-a0ca-93ccb185250f" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
        <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=23e19023-27f3-460c-b726-1f78913796ed">Sous Chef</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">£28,000 - £35,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Job.aspx?v=23e19023-27f3-460c-b726-1f78913796ed" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
      <h2 class="mb-2 h4"><a href="http://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=14e05513-1ec8-4903-b5cd-03f22ab779d5">Assistant Manager (Coffee)</a></h2>
        <p class="mb-0">Greenwich Grind</p>
        <p class="mb-3">£25,000 - £28,000</p>
        <p class="mb-0"><a href="http://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=14e05513-1ec8-4903-b5cd-03f22ab779d5" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
      <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=429fca74-fbcb-4afa-bc12-73edfdd1cbf7#">Assistant Manager / Floor Manager</a></h2>
        <p class="mb-0">Greenwich Grind</p>
        <p class="mb-3">£25,000 - £32,000</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=429fca74-fbcb-4afa-bc12-73edfdd1cbf7#" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>

<div class="col-6 col-md-4 col-lg-3">
    <article class="mb-5 px-sm-4 px-xl-5 text-center">
      <h2 class="mb-2 h4"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=e22c25d0-419a-454e-95ca-8de5eeb94bec">Send us your CV</a></h2>
        <p class="mb-0">Several Locations</p>
        <p class="mb-3">Competitive</p>
        <p class="mb-0"><a href="https://grind.peoplehr.net/Pages/JobBoard/Opening.aspx?v=e22c25d0-419a-454e-95ca-8de5eeb94bec" class="btn btn-block btn-primary">Apply now</a></p>
    </article>
</div>