<div class="masthead masthead-feature js-masthead">
    <div class="container">
        <div class="mx-auto text-center masthead-content">

            <h1 class="gkit-h2 wow fadeInUp" data-wow-delay=".75s">{{ title }}</h1>

            {% if summary != blank %}
                <p class="mb-0 gkit-p-20 gkit-light wow fadeInUp" data-wow-delay="1s">{{ summary }}</p>
            {% endif %}

        </div>
    </div>
</div>
