<option value="" selected disabled hidden>Select a location</option>
<option value='{"venueID":4537,"apiKey":"LySD14Wc6cgr3LutPqOBC8Jtvb6VptNC"}'>Shoreditch Grind</option>
<option value='{"venueID":4536,"apiKey":"rgd4C8UJBugQRKMrjCjkWJBUBks0zqFf"}'>London Grind</option>
<!-- <option value='{"venueID":4537,"apiKey":"qACbgBJuNvwHxYpD4E0CpEZWe4Ki7DWj"}'>Covent Garden Grind</option> -->
<option value='{"venueID":4554,"apiKey":"dwewZhAa7oSKqBE5BZ7q2mLAgoiFZMAd"}'>Greenwich Grind</option>
<option value='{"venueID":5615,"apiKey":"aPySdK1rgIdmsDcVxzDhyMLOLePurFTa"}'>Liverpool Street Grind</option>