<div class="my-4 my-5 container">

    <h2 class="my-5 font-weight-bold text-center">{{ section.settings.careersHeading }}</h2>

    <div class="row">
        {% include 'excerpt-career' %}
    </div>

</div>
