<div class="shopify-section py-3" id="trustpilot-container">
  <div class="trustpilot-widget" data-businessunit-id="5919e89d0000ff0005a28068" data-locale="en-US" data-stars="5" data-style-height="{{ height }}" data-style-width="100%" data-template-id="{{ templateId }}" data-theme="light" id="trustpilot-widget-trustbox-0" paddingy="30" position="after" style="z-index: 1 !important; position: relative" zindex="1" theme="light">
    <a href="https://uk.trustpilot.com/review/www.grind.co.uk" rel="noopener" target="_blank">Trustpilot</a>
  </div>
</div>

