{% assign leftText = section.settings.twoTextOne %}
{% assign rightText = section.settings.twoTextTwo %}

<div class="my-4 my-sm-5 container">
    <div class="row">

        {% unless leftText == blank %}
            <div class="col-12 col-lg-6 content-no-margin wow fadeInUp">
                {{ leftText }}
            </div>
        {% endunless %}

        {% unless rightText == blank %}
            <div class="col-12 col-lg-6 mt-5 mt-lg-0 content-no-margin wow fadeInUp" data-wow-delay=".1s">
                {{ rightText }}
            </div>
        {% endunless %}

    </div>
</div>
