<div class="{% if paddingClass %}{{ paddingClass }}{% endif %} col-6 col-md-4 col-lg-3">
    <div class="gallery-image wow fadeInUp" data-wow-delay=".2s" role="img" alt="" style="background-image: url({{ block.settings.galleryImage | img_url: '1600x' }})"></div>
</div>
