{% assign blogPosts = blogs.features.articles %}
{% unless blogPosts == blank %}

    <div class="pt-md-1 container">
        <hr class="mt-5 mb-3" />
        <h2 class="my-5 font-weight-bold text-center">Read the Blog</h2>
    </div>

    <div class="my-4 my-sm-5 container">
        <div class="row">

            {% for article in blogPosts limit:6 %}
                <div class="mb-5 col-12 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.index }}s">
                    {% include 'excerpt-feature',
                        excerpt: article.excerpt,
                        thumbnail: article.image,
                        title: article.title,
                        url: article.url
                    %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endunless %}
