<div class="my-4 my-sm-5 container container-smaller">

    {% include 'page-title', title: 'Your Account' %}

    <div style="background-color: #f8f7f7; border: 1px solid #e2dbd5; padding: 1rem; margin-top: 2rem;">
        <p class="gkit-p-15">The Grind customer portal has moved! <a class="gkit-bold" href="https://my.grind.co.uk/">Click here</a> to find it's new home.</p>
        <p class="gkit-p-15">If you have any issues, get in touch at <a class="gkit-bold" href="mailto:hello@grind.co.uk">hello@grind.co.uk</a></p>
    </div>
</div>
