{% liquid
  assign icons = section.blocks
  assign imageHeight = section.settings.imageHeight
%}

<section class="container">
  <div class="d-none d-md-flex flex-row justify-content-center wow fadeInUp">
    {% for iconObject in icons %}
      {% render '2021-icon-text-block' with block: iconObject.settings,
        imageHeight: imageHeight,
        maxWidth: '245px'
       %}
    {% endfor %}
  </div>

  <div class="d-md-none" id="ibCarousel">
    {% for iconObject in icons %}
      {% render '2021-icon-text-block' with block: iconObject.settings,
        imageHeight: imageHeight,
        maxWidth: '245px'
       %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Icon Mobile Slide",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "icon_card",
      "name": "Icon Cards",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Lorem ipsum"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>"
            }
          ]
        }
      ],
      "settings": [
        {
          "type": "range",
          "id": "imageHeight",
          "min": 15,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "Icon Height",
          "default": 80
        }
      ]
    }

{% endschema %}