<section class="my-4 my-md-5 container d-flex section-2020-subscribe-hero">
    <div class="row no-gutters">
        <div class="order-md-2 col-12 col-md-6 img">
            <div class="pt-md-0 h-md-100 bg-cover bg-square" style="background-image: url('{{ section.settings.image | img_url: '1200x' }}')"></div>
            <div class="tag-container">
                <span class="gkit-p-20 gkit-bold">FREE SHIPPING</span>
            </div>
        </div>
        <div class="order-md-1 col-12 col-md-6 content">
            <h2 class="gkit-h1">Subscribe and save.</h2>
            <p class="gkit-p-17 body-text">The same great Grind coffee send directly to your door, with free delivery and a
                10% discount! You can cancel or change your subscription at any time.</p>
            <ul class="positives">
                <li>
                    <img loading="lazy" alt="Free Shipping" src="{{ 'check.svg' | asset_url }}" />
                    <span class="list-text gkit-p-17 gkit-bold">FREE SHIPPING</span>
                </li>
                <li>
                    <img loading="lazy" alt="10% Off" src="{{ 'check.svg' | asset_url }}" />
                    <span class="list-text gkit-p-17 gkit-bold">10% OFF EVERY ORDER</span>
                </li>
            </ul>
            <a class="gkit-btn-lg gkit-primary" id="gcharge-create-plan">Create your plan</a>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Section - Subscribe Hero",
"settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Hero Image"
    }
],
"presets": [
{
"name": "Section - Subscribe Hero",
"category": "Content"
}
]
}
{% endschema %}