{% assign customTitle = 'general.404.title'|t %}

<div class="my-4 my-sm-5 text-center container">

    {% include 'page-title', title: customTitle %}

    <p>{{ 'general.404.subtext_html' | t }}</p>

</div>
<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>