<div class="w-100 discover-menu-book" id="js-menu-book">

    <div class="py-lg-4 container container">

        <div class="py-4 row align-items-end">

            <div class="col-lg-8 col-xl-7">
                <h2 class="mb-3 mb-lg-4 gkit-h2">Reserve a Table Now</h2>
                <form>
                    <div class="py-4 py-lg-0 row align-items-center">

                        <div class="col-12 col-md-4">
                            <div class="form-custom-select">
                                <select class="mb-4 gkit-select-md js-form-custom-select"
                                        id="resyBookMobileVenue"
                                        required>
                                    {% render 'resy-dropdown-options' %}
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-custom-select">
                                <input type="text"
                                       autocomplete="false"
                                       class="mb-4 gkit-select-md js-form-custom-select"
                                       data-toggle="datepicker"
                                       id="resyBookMobileDate"
                                       name="resDate"
                                       placeholder="Select a date"
                                       readonly
                                       required/>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-custom-select">
                                <select class="mb-4 gkit-select-md js-form-custom-select"
                                        id="resyBookMobileSeats"
                                        required>
                                    <option value="" selected disabled hidden>Number of guests</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <input class="mb-4 gkit-btn-md gkit-primary btn-block"
                                   onClick='resyBookMobileSubmit()'
                                   type="button"
                                   value="Book a Table"/>
                        </div>

                    </div>
                </form>
            </div>

            {% assign feature = linklists.featured-blog-post %}
            {% if feature != blank %}
                <div class="col-lg-4 col-xl-5">
                    <div class="pl-lg-4 pl-xl-5">
                        {% for featuredArticle in feature.links limit:1 %}
                            <article>
                                <a href="{{ featuredArticle.url }}" class="text-no-decoration">
                                    <img loading="lazy" src="{{ featuredArticle.object.image.src | img_url: '400x360' }}" alt="{{ featuredArticle.title }}" class="mb-3 w-100">
                                    <h2 class="mb-0 gkit-h3">{{ featuredArticle.title }}</h2>
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>

    </div>
</div>

<script type="text/javascript">
    function resyBookMobileSubmit() {
        var resyBookMobileVenueObj = document.getElementById('resyBookMobileVenue').value;
        var resyBookMobileVenue = JSON.parse(resyBookMobileVenueObj);
        var resyBookMobileSeats = document.getElementById('resyBookMobileSeats').value;
        var resyBookMobileDate = document.getElementById('resyBookMobileDate').value;
        resyWidget.openModal({'venueId': resyBookMobileVenue.venueID, 'apiKey': resyBookMobileVenue.apiKey, 'date': resyBookMobileDate, 'seats': resyBookMobileSeats});
    }
</script>
