<div class="my-4 my-sm-5 container">

    {% include 'page-title', title: page.title %}

    <div class="rich-text-block">
        <div class="content-block">
            <div class="inner reduced">
                {{ page.content }}
            </div>
        </div>
    </div>

</div>
